PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/reward_app
CLIENT_ORIGIN=http://localhost:3000,http://localhost:8081,http://localhost:19006
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d
SUPER_ADMIN_NAME=Super Admin
SUPER_ADMIN_PHONE=9999999999
SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_PASSWORD=change_this_password

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=drevt0jsi
CLOUDINARY_API_KEY=895956127557934
CLOUDINARY_API_SECRET=tP8IC7KN3FTQhawI4-x6KSJGdpg
